body {
  margin: 0;
}
.title{
    text-align: center;
}
.slider-box {
  margin: 30px 40px;
  position: relative;
}
.slider-box img {
  width: 100%;
  display: none;
}
.slider-box img.active {
  display: inline-block;
}
.controllers {
    width: 94.8%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    top:45%;
}
.controllers button{
       border: none;
    border-radius: 50%;
    background-color: white;
    padding: 7px 8px;
    font-size: 17px;
    opacity: 65%;

}

